<template name="home">
  <div class="container podcast-feed">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <article>
          <h3><a href="#">Podcast Title - Name Me Foo</a></h3>
          <p class="date">January 24th, 2014</p>
          <p class="desc">Quisque eu nisi dolor. Aenean ultrices porta risus vel consequat. Vestibulum rutrum blandit sem, ut tincidunt mauris ullamcorper sed.</p>
          <ul>
            <li><a href="#">Ry talks about Famo.us</a></li>
            <li><a href="#">Meteor for Gaming: Jerbal Space Program</a></li>
            <li><a href="#">The new Eventedmind</a></li>
            <li><a href="#">Devshop 11 chat w/ Greg</a></li>
          </ul>
        </article>
        <article>
          <h3><a href="#">Podcast Title - Name Me Foo</a></h3>
          <p class="date">January 24th, 2014</p>
          <p class="desc">Quisque eu nisi dolor. Aenean ultrices porta risus vel consequat. Vestibulum rutrum blandit sem, ut tincidunt mauris ullamcorper sed.</p>
          <ul>
            <li><a href="#">Ry talks about Famo.us</a></li>
            <li><a href="#">Meteor for Gaming: Jerbal Space Program</a></li>
            <li><a href="#">The new Eventedmind</a></li>
            <li><a href="#">Devshop 11 chat w/ Greg</a></li>
          </ul>
        </article>
        <article>
          <h3><a href="#">Podcast Title - Name Me Foo</a></h3>
          <p class="date">January 24th, 2014</p>
          <p class="desc">Quisque eu nisi dolor. Aenean ultrices porta risus vel consequat. Vestibulum rutrum blandit sem, ut tincidunt mauris ullamcorper sed.</p>
          <ul>
            <li><a href="#">Ry talks about Famo.us</a></li>
            <li><a href="#">Meteor for Gaming: Jerbal Space Program</a></li>
            <li><a href="#">The new Eventedmind</a></li>
            <li><a href="#">Devshop 11 chat w/ Greg</a></li>
          </ul>
        </article>
      </div>
    </div>
  </div>
</template>