@import 'variables';
@import 'mixins';

/* ===============================
    GLOBAL STYLES
   =============================== */

img {
  max-width: 100%;
}
html, body {
  height: 100%;
}
#page-wrap {min-height: 100%;}
#main {
  overflow: auto;
	padding-bottom: 50px;
}

#footer {
  position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}


// MISCELLANEOUS

.browser-warning {
  background: #BD3535;
  color: #fff;
  padding: 0.5em 0;
  text-align: center;

   a {
    color: #fff;
    text-decoration: underline;
  }
}
